@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap");

:root {
  --primary-font: "Press Start 2P", cursive;
  --secondary-font: "Poiret One", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 38, 86);
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  gap: 1.2rem;
  width: 5.5rem;
  flex-direction: column;
  border-radius: 18px;
  background: linear-gradient(145deg, #27295c, #20224d);
  box-shadow: 28px 28px 52px #191a3b, -28px -28px 52px #2f3271;
  padding: 0.8rem 0.8rem;
  align-items: center;
  transition: all 0.07s;
  font-family: var(--primary-font);
}

.playing {
  transform: scale(1.1);
  border-radius: 18px;
  background: linear-gradient(145deg, #26295d, #2d306e);
  box-shadow: 33px 33px 65px #26295d, -33px -33px 65px #2e3271;
}

li > *:last-child {
  /* padding-top: 1.2rem; */
  /* border: solid 1px red;line-height: 0.5rem; */
  color: rgb(141, 141, 141);
  width: 100%;
  font-size: clamp(0.8rem, 0.5vw, 1.2rem);
  letter-spacing: 0.2rem;
  font-family: var(--secondary-font);
}

li > * {
  text-align: center;
}

.keys {
  /* border: solid 2px rgb(30, 231, 15); */
  color: rgb(191, 191, 191);
  font-size: 1.6rem;
  gap: 4%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
